#diente1 {
    position: relative;
    top: 117px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 0px;
    /* border:2px solid #fff; */
    /* display: block; */
}


#diente2 {
    position: relative;
    top: 54px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 0px;
    /* border:2px solid #fff; */
    /* display: block; */
}


#diente3 {
    position: relative;
    top: 18px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 0px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente4 {
    position: relative;
    top: -18px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 0px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente5 {
    position: relative;
    top: -81px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente6 {
    position: relative;
    top: -90px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente6 {
    position: relative;
    top: -108px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente7 {
    position: relative;
    top: -117px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente8 {
    position: relative;
    top: -126px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente9 {
    position: relative;
    top: -126px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente10 {
    position: relative;
    top: -45px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente11 {
    position: relative;
    top: -45px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente12 {
    position: relative;
    top: -45px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente13 {
    position: relative;
    top: -45px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente14 {
    position: relative;
    top: -45px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente15 {
    position: relative;
    top: -45px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}

#diente16 {
    position: relative;
    top: -45px; /* ajustar los valores para mover la imagen */
    left: 10px;
    width: 54px;
    height: 81px;
    /* border-radius: 50%; */
    margin: 1px;
    /* border:2px solid #fff; */
    /* display: block; */
}
